#Probability

## Demo 2: Bayes' Theorem

In this demo, you will be shown how to implement Bayes' theorem

##### Question:

Calculate the probability of number of female survived from titanic.csv dataset

##### Solution:

#### Step 1: Import libraries

In [3]:
import numpy as np
import pandas as pd

#### Step 2: Load titanic.csv dataset

In [4]:
titanic = pd.read_csv('titanic.csv')
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

#### Step 3: Print 2 columns i.e. Sex and Survived from the dataset

In [5]:
titanic = titanic[['Sex','Survived']]
#Print top 5 rows of given columns
titanic.head()
#Here O = not survived and 1 = survived

      Sex  Survived
0    male         0
1  female         1
2  female         1
3  female         1
4    male         0

#### Step 4: Calculate number of people survived

In [6]:
num_rows = float(titanic.shape[0])
num_rows
survival_num = titanic[titanic['Survived']==1]['Survived'].count()
print("Number of people survived=",survival_num)

Number of people survived= 342

#### Step 5: Calculate number of people not survived

In [7]:
nsurvival_num = titanic[titanic['Survived']==0]['Survived'].count()
print("Number of people unsurvived=",nsurvival_num)

Number of people unsurvived= 549

#### Step 6: Calculate the probability of number of female survived

In [9]:
len(titanic[(titanic['Survived']==1)&(titanic['Sex']=='female')])/len(titanic[titanic.Sex=='female'])

0.7420382165605095

#### Conclusion: This code demonstrate how to implement Bayes' theorem