# PROBABILITY FOR DATA SCIENCE: 

Introduced graphical and numerical descriptive methods. 
Although the methods are useful on their own, we are particularly interested in 
developing statistical inference. As we pointed out in Chapter 1, statistical inference 
is the process by which we acquire information about populations from samples. 
**A critical component of inference is probability because it provides the link between the population and the sample.**

**Random experiment:** 
Random experiment is an action which leads to the several possible outcomes.

1. Illustration 1. Experiment: Flip a coin.
    Outcomes: Heads and tails
2. Illustration 2. Experiment: Record marks on a statistics test (out of 100).
    Outcomes: Numbers between 0 and 100
3. Illustration 3. Experiment: Record grade on a statistics test.
    Outcomes: A, B, C, D, and F

The first step in assigning probabilities is to produce a list of the outcomes. The 
listed outcomes must be *exhaustive*, which means that all possible outcomes must be 
included. In addition, the outcomes must be *mutually exclusive*, which means that no 
two outcomes can occur at the same time.

To illustrate the concept of exhaustive outcomes consider this list of the outcomes 
of the toss of a die:
1 2 3 4 5
This list is not exhaustive, because we have omitted 6.

The concept of mutual exclusiveness can be seen by listing the following outcomes 
in illustration 2:

0–50 50–60 60–70 70–80 80–100
If these intervals include both the lower and upper limits, then these outcomes are not 
mutually exclusive because two outcomes can occur for any student.

# Need of probability:
Probability helps in understanding the different buisiness problems. 
eg. Probability can help a company to decide the market value of the perticular product. 

eg. Probability distribution can also helps in analyzing the futures outcomes. 

eg. It also help in deciding the company financial risk.

# Common terminologies in the probability:

*1. Probability Experiment:* 
Probability experiment or also any random experiment is an action or the process which leads to one or several possible outcomes. eg. flipping coin, casting die 

*2. Outcomes:* 
A possible result of the experiment called outcomes. 
eg. Head and tail, number on the die. 

*3. Samole space:*
Set of all possible outcomes called as sample space. 
eg. flip two coin at time 
s=[TH,TT,HT,HH.]

*4. Events*
Any group of outcomes from the sample space. 
eg. events of tails at once s=[TH,HT,TT]


# Union Of Events- Logical OR:
The union of the two set is the set that contains all the uncommon events and the common events at once. 

a= [1,2,3,4,5]  b=[3,6,7,8,9]
aUb=[1,2,3,4,5,6,7,8,9]

# Intersection of the events- Logical AND:
The intersection of the two events is the set which contains all the common events in the sets.
a= [1,2,3,4,5]  b=[3,6,7,8,9]
anb =[3]

In [2]:
# Union 
a= {1,2,3,4,5}  
b={3,6,7,8,9}
c=a.union(b)
print(c)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [4]:
# intersection 
a={ 1,2,3,4,5}  
b={3,6,7,8,9}
c= a.intersection(b)
print(c)

{3}

# Types of events:

1. Mutually Exclusive events
2. Mutually non Exxlusive events 
3. Dependent event
4. Independent event

*1. Mutually Exclusive events:*

Mutually exclusive events are those events which cannt happen togather. Means P(A and B)=0. They are also called Disjoint Event.

Hence for mutually exclusive events;
P(A or B)= P(A) + P(B)

*2. Mutually non-exclusive events:*

When two events are mutually non exclusive they can happen togather. Hence P(A and B) !=0

P(A and B)=P(A)+P(B)-P(A and B)

*3. Dependent event:*
Two events are dependent if the result if the first event affecgts the result of the second event. 

If A and B are dependent event then 
P(A and B)= P(A) * P(B/A) where P(B/A)= Probability of B given A 

eg. 
If there are 3 chocolate and 4 strawberry cup cackes in the box then the probability of picking chocolate cupcacke is 4/7. 
If one of the strawberry cupcacke is remove from the box then the probability of picking a chocolate cupcacke is 4/6

Hence the next event is dependent on the first event. 


4. Independent event: 
Two events are independent of each other the result of the first event does not affect the outcome of the second event.
If A and B is independent event then 
P(A and B)=P(A)*P(B)

eg. if the coin is tossed and the six sided die is casted then the probability of getting head and the 3 number on the die side is 

P(head and 3)= P(head)*P(3)
             = 1/2*1/6
             =1/12

# open the slides and refer.

**General addition rule**

# Types of probability:

# 1.Marginal probability:
Joint probability is the probability of occurence of single event. 

eg. The probsbility that a card is drawn from a deck of card is red. =26/52=1/2 

hence marginal probability=26/52=1/2 

# Joint probability:
Joint probability is the measure of two events happening at the same time. 
Joint probability =P(AnB)=P(A)*P(B)

There are two condition here if the events are dependent or the independent.

1.) Independent Events:
If the occurence of the first event does not affect the occurence of the second event called as Independent event. Then the joint probability is the product of the individual probability. 

P(A n B)=P(A)*P(B)

2.) Dependent even:
If the occurrence of the first event affects the occurrence of the second event called as dependent event. In this condition we need to consider the conditional probability. 

P(A n B)=P(A)*P(B/A) Where B/A is the occureence of B over A 

eg. Independent joint probability:
The probability of card is red and the 4 =P(four)*P(red)
                                            (4/52)*(26/52)
                                            =1/26


eg. Dependent probability i.e. conditional probability

Given that the red card is drawn fromt the deck of card 
Probability of the card is 4 P(4/red)=p(4 and  red)/p(red)
                                      =  P(4)*P(RED)/P(RED)
                                      = (2/26)/26/52
                                      1/13


In condition probability if two events are dependent the expression is.

P(A/B)=P(A and B)/P(B)

If the events are independent 

P(A/B)=P(A)

In [5]:
# Demo 1 implementing the types of probability 

import numpy as np 
import pandas as pd

In [6]:
df= pd.read_csv('marveldata.csv')
df.head()

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
0,1678,Spider-Man (Peter Parker),\/Spider-Man_(Peter_Parker),Secret Identity,Good Characters,Hazel Eyes,Brown Hair,Male Characters,NaN,Living Characters,4043.0,Aug-62,1962.0
1,7139,Captain America (Steven Rogers),\/Captain_America_(Steven_Rogers),Public Identity,Good Characters,Blue Eyes,White Hair,Male Characters,NaN,Living Characters,3360.0,Mar-41,1941.0
2,64786,"Wolverine (James \""Logan\"" Howlett)",\/Wolverine_(James_%22Logan%22_Howlett),Public Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3061.0,Oct-74,1974.0
3,1868,"Iron Man (Anthony \""Tony\"" Stark)",\/Iron_Man_(Anthony_%22Tony%22_Stark),Public Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2961.0,Mar-63,1963.0
4,2460,Thor (Thor Odinson),\/Thor_(Thor_Odinson),No Dual Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,2258.0,Nov-50,1950.0

In [16]:
# calculate the number of character count 
x=len(df['name'])

In [10]:
# Display the column SEX EYE and hair 
df[['SEX','EYE','HAIR']]

                   SEX         EYE        HAIR
0      Male Characters  Hazel Eyes  Brown Hair
1      Male Characters   Blue Eyes  White Hair
2      Male Characters   Blue Eyes  Black Hair
3      Male Characters   Blue Eyes  Black Hair
4      Male Characters   Blue Eyes  Blond Hair
...                ...         ...         ...
16371  Male Characters  Green Eyes     No Hair
16372  Male Characters   Blue Eyes        Bald
16373  Male Characters  Black Eyes        Bald
16374  Male Characters         NaN         NaN
16375              NaN         NaN         NaN

[16376 rows x 3 columns]

In [14]:
# Character according to sex 
char=df.groupby(['SEX']).count()['name']
char

SEX
Agender Characters           45
Female Characters          3837
Genderfluid Characters        2
Male Characters           11638
Name: name, dtype: int64

In [18]:
# Calculating the marginal probability 
# Probability of character being male 
char['Male Characters']/x

0.7106741573033708

In [21]:
# Calculating the joint probability 
# Calculate the probability of character being female and has red hair 
# Assume that both events are independent 
female = char['Female Characters']/x
female

0.23430630190522717

In [25]:
hair=df.groupby(['HAIR']).count()['name']
print(hair)

HAIR
Auburn Hair                78
Bald                      838
Black Hair               3755
Blond Hair               1582
Blue Hair                  56
Bronze Hair                 1
Brown Hair               2339
Dyed Hair                   1
Gold Hair                   8
Green Hair                117
Grey Hair                 531
Light Brown Hair            6
Magenta Hair                5
No Hair                  1176
Orange Hair                43
Orange-brown Hair           3
Pink Hair                  31
Purple Hair                47
Red Hair                  620
Reddish Blond Hair          6
Silver Hair                16
Strawberry Blond Hair      47
Variable Hair              32
White Hair                754
Yellow Hair                20
Name: name, dtype: int64

In [27]:
red_hair=hair['Red Hair']/x
print(red_hair)

0.03786028334147533

In [28]:
# Probablity of female and the red hair 
print(female*red_hair)

0.008870902978825162

In [30]:
# Calculate joint probability in terms of percentage 
print(female*red_hair*100)

0.8870902978825161

In [46]:
# Joint probability where events are dependent 
# Given that the character is female, calculate the probability having green eyes 
green_eye = df[df=='Green Eyes'].EYE.count()
green_eye

613

In [49]:
female_green_count = df[(df.SEX=='Female Characters') & (df.EYE=='Green Eyes')].SEX.count()
female_green_count

268

In [51]:
prob_female_green =female_green_count/x
prob_female_green

0.016365412799218368

In [59]:
female_char = df[df.SEX=='Female Characters'].SEX.count()
female_char

3837

In [60]:
prob_female= female_char/x

In [61]:
prob_female_green/prob_female

0.06984623403700807

# ODDS: Calculate the odds in favour of living characters 

odds= prob(A)/(1-prob(A))

In [79]:
living_character=df.groupby(['ALIVE']).count()['ID']
living_character

ALIVE
Deceased Characters    3116
Living Characters      9490
Name: ID, dtype: int64

In [66]:
L=living_character[1]
print(L)

9490

In [68]:
prob_live=L/x

In [72]:
# calculate odds in favour of living character 
y= 1-prob_live

In [74]:
odds=prob_live/y
odds

1.3781585826314262

# BAY'S theorem:

Bays theorem is the process of finding probabilities of the event when some probabilities are known in advance. 

P(F|S)=P(S|F)*P(F) / P(S)
P(S|F)=P(S) + P(F) - P(S and F)

In [2]:
import numpy as np 
import pandas as pd

In [3]:
titanic = pd.read_csv('titanic.csv')

In [4]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [103]:
titanic1= titanic[['Sex','Survived']]
titanic1

        Sex  Survived
0      male         0
1    female         1
2    female         1
3    female         1
4      male         0
..      ...       ...
886    male         0
887  female         1
888  female         0
889    male         1
890    male         0

[891 rows x 2 columns]

In [92]:
rows=titanic.shape[0]
rows

891

In [96]:
#calculate total number of survived persons 

persons_survived = titanic1[titanic1['Survived']==1]['Survived'].count()

In [98]:
print('Total survived persons are =', persons_survived)

Total survived persons are = 342

In [99]:
#calculate total number of survived persons 
not_survived = titanic1[titanic1['Survived']==0]['Survived'].count()

In [100]:
print('Total not survived persons =', not_survived)

Total not survived persons = 549

In [108]:
len(titanic[(titanic['Survived']==1)&(titanic['Sex']=='female')])/len(titanic[titanic.Sex=='female'])

0.7420382165605095

In [8]:
# if wanted to calculate the total number of people survived 
ps= len(titanic[titanic['Survived']==1])/titanic['Survived'].shape[0]
ps

0.3838383838383838

In [6]:
# probability of people being female 
pf= len(titanic[titanic['Sex']=='female'])/titanic['Sex'].shape[0]
pf

0.35241301907968575

In [12]:
# Probability of female passenger survived 
pSandF= len(titanic[(titanic['Survived']==1) & (titanic['Sex']=='female')])/titanic.shape[0]
pSandF

0.2615039281705948

In [16]:
pSgivenF = pSandF/pf
pSgivenF

0.7420382165605095

In [22]:
pFgiveS= (pSgivenF*pf)/ps
pFgiveS

0.6812865497076023