# Practicing the Preprocessing techniques and the Train/Test split of the Data

#Handling missing Value

#Using a SimpleImputer

In [17]:
#Creating dataset 
import pandas as pd
import numpy as np 
import sklearn
import warnings
warnings.filterwarnings('ignore',category=UserWarning)

data= {'One':pd.Series([1,2,5],index=['a','b','e']),
        'Two':pd.Series([1,2,3,4],index=['a','b','c','d'])}

table=pd.DataFrame(data)
table
print('Table Before:\n',table)

Table Before:
    One  Two
a  1.0  1.0
b  2.0  2.0
c  NaN  3.0
d  NaN  4.0
e  5.0  NaN

In [21]:
# Now Applying the SimpleImputer method to fill out the missing values 
from sklearn.impute import SimpleImputer
imputer=SimpleImputer(missing_values=np.nan,strategy='mean')
imputer.fit(table) #applying the imputer stategy on the table
imputed_data=imputer.transform(table.values)
table2=pd.DataFrame(imputed_data,columns=['One','Two'])
print('After Simpleimputer:\n',table2)

After Simpleimputer:
         One  Two
0  1.000000  1.0
1  2.000000  2.0
2  2.666667  3.0
3  2.666667  4.0
4  5.000000  2.5

#Handling categorical values

#1. get_dummies

In [34]:
import pandas as pd
data = {'Customer_id': pd.Series([1,2,3,4,5]),
        'Loan_type': pd.Series(['Home Loan',
                                'Personal Loan',
                                'Education Loan',
                                'Home Loan',
                                'Credit Loan']),
        'Income': pd.Series(['30K','25K',
                        '15K','40K','35K'])}
loan_info = pd.DataFrame(data)
print(loan_info)

   Customer_id       Loan_type Income
0            1       Home Loan    30K
1            2   Personal Loan    25K
2            3  Education Loan    15K
3            4       Home Loan    40K
4            5     Credit Loan    35K

In [35]:
pd.get_dummies(loan_info,prefix_sep='_',drop_first=False)

,Customer_id,Loan_type_Credit Loan,Loan_type_Education Loan,Loan_type_Home Loan,Loan_type_Personal Loan,Income_15K,Income_25K,Income_30K,Income_35K,Income_40K
0,1,False,False,True,False,False,False,True,False,False
1,2,False,False,False,True,False,True,False,False,False
2,3,False,True,False,False,True,False,False,False,False
3,4,False,False,True,False,False,False,False,False,True
4,5,True,False,False,False,False,False,False,True,False

#Handling categorical values

#2.Using LabelEncoder

In [32]:
import pandas as pd
data = {'Customer_id': pd.Series([1,2,3,4,5]),
        'Loan_type': pd.Series(['Home Loan',
                                'Personal Loan',
                                'Education Loan',
                                'Home Loan',
                                'Credit Loan']),
        'Income': pd.Series(['30K','25K',
                        '15K','40K','35K'])}
loan_info = pd.DataFrame(data)
print(loan_info)

   Customer_id       Loan_type Income
0            1       Home Loan    30K
1            2   Personal Loan    25K
2            3  Education Loan    15K
3            4       Home Loan    40K
4            5     Credit Loan    35K

In [33]:
# Above data have lots of categorical values 
Labelencoder=LabelEncoder()
df_up=loan_info.apply(Labelencoder.fit_transform)
df_u=pd.DataFrame(df_up)
df_u

   Customer_id  Loan_type  Income
0            0          2       2
1            1          3       1
2            2          1       0
3            3          2       4
4            4          0       3