In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\abhitesh.debnath\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\abhitesh.debnath\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\abhitesh.debnath\anaconda3\lib\site-packages (from pandas) (1.21.6)
Requirement already satisfied: pytz>=2020.1 in c:\users\abhitesh.debnath\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\abhitesh.debnath\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [1]:
import pandas as pd

In [6]:
list_of_values = list(range(10,50))

In [21]:
# list_of_values

In [22]:
series_of_values = pd.Series(list_of_values,index = ['abcde'])

In [26]:
series_of_values

0     10
1     11
2     12
3     13
4     14
5     15
6     16
7     17
8     18
9     19
10    20
11    21
12    22
13    23
14    24
15    25
16    26
17    27
18    28
19    29
20    30
21    31
22    32
23    33
24    34
25    35
26    36
27    37
28    38
29    39
30    40
31    41
32    42
33    43
34    44
35    45
36    46
37    47
38    48
39    49
dtype: int64

In [30]:
type(series_of_values)

pandas.core.series.Series

In [31]:
dict_of_values = {'a':10, 'b':20, 'c':40, 'abhitesh':28}

In [32]:
series_from_dict = pd.Series(dict_of_values)

In [33]:
series_from_dict

a           10
b           20
c           40
abhitesh    28
dtype: int64

In [35]:
series_from_dict['abhitesh']

28

In [36]:
dict_of_values['abhitesh']

28

In [2]:
data_json_dataframe = pd.read_json('data_json.json')

In [3]:
data_json_dataframe

          emp1      emp2      emp3
name     sonoo  sonsdsoo  abhiterh
salary   56000   5634000   3479345
married   True     False      True