In [1]:
a= 10
b= 20
print(a+b)

30

In [6]:
2*3

6

In [7]:
a=50
b=100
print(a,b)

50 100

In [9]:
a=a+b  # 150
b=a-b   # 50
a=a-b
print(a,b)

100 50

In [11]:
try: 
    a=int(input('It requires an input'))
    print(a+10)
except:
    print('The input was string')

The input was string

In [16]:
num = int(input('Please enter a number: '))
for i in range(1,11):
    print(num,'X',i,'=',num*i)

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60

In [19]:
a= 'Hello' 

print(type(a))
b=True
print(type(b))

<class 'str'>
<class 'bool'>

In [23]:

print(round(5.654,2))

5.65

In [25]:
x= complex('2+3j')
print(abs(x))

3.605551275463989

In [29]:
divmod(10,9)

(1, 1)

In [31]:
print(pow(3,2))
print(pow(3,3,5))

9
2

In [33]:
2<=8

True

In [36]:
x=8
x+=8
print(x)

16

In [39]:
2==4

False

In [40]:
a= True
print(type(a))

<class 'bool'>

In [41]:
# Operations on the string 

gyan = "Yogesh"

In [55]:
print(gyan*4)

YogeshYogeshYogeshYogesh

In [10]:
a = map(float,input("Enter few numbers:").split(','))
a=list(a)
a

[2.0, 4.0, 5.0, 6.0, 7.8]

In [ ]:
# https://www.w3schools.com/python/python_lists.asp

In [12]:
a = 5
print('Type of a:', type(a))

b = 2+3j
print('Type of b:',type(b))

Type of a: <class 'int'>
Type of b: <class 'complex'>

In [23]:
x = input('Please enter your name:')
print(x[::-1])

hsegoY

In [28]:
# List and operatron on the list 

sales = [23,54,67,87,98,90,8,7]
sales=list(sales)
sales
print('First three days if sales: ',sales[:3])
print('Sale of 4th day', sales[4])
print(sales.sort())
print(sales)
sales[::-1]

second_week_sale = [23,23,44,55,66,77,88]
sales.append(second_week_sale)
sales

First three days if sales:  [23, 54, 67]
Sale of 4th day 98
None
[7, 8, 23, 54, 67, 87, 90, 98]

[7, 8, 23, 54, 67, 87, 90, 98, [23, 23, 44, 55, 66, 77, 88]]

In [ ]:
second

In [41]:
lst = ['my_name','uare','stuggle','journey']
print('Type of lst:',type(lst))
print(len(lst))
lst[0:3:2]
lst1=['Double','Forgot','Nation']
lst.extend(lst1)
lst

Type of lst: <class 'list'>
4

['my_name', 'uare', 'stuggle', 'journey', 'Double', 'Forgot', 'Nation']

In [44]:
lst.append(lst1)   # Append function is used to add a single element where as extend will add the element as part of the main string or list.
print(lst)

['my_name', 'uare', 'stuggle', 'journey', 'Double', 'Forgot', 'Nation', ['Double', 'Forgot', 'Nation'], ['Double', 'Forgot', 'Nation'], ['Double', 'Forgot', 'Nation']]

In [60]:
a=[1,2,3,4,5,6,7]
print(a)
#1. Append 
a1=a.append(6)
a1

#2. clear
a.clear()
print(a)

#3.copy()
a=[1,2,3,4,5,6,7]
b=a.copy()
print(b)

#4. Count()
a = [3,4,5,6,7,7,6,6,5,5,4]
a.count(4)

a = [1,2,3,4,5,6]
a.extend(range(3,6))

[1, 2, 3, 4, 5, 6, 7]
[]
[1, 2, 3, 4, 5, 6, 7]

In [62]:
# Exrend  It will extend the list in the range at the end 
a = [1,2,3,4,5,6]
a.extend(range(3,6))
print(a)

[1, 2, 3, 4, 5, 6, 3, 4, 5]

In [66]:
#inser()
a=['Yogesh', 'Pragati','yash','Ravi','Riya']
a.insert(2,'AI')  # At the position of two it will add AI 
a

['Yogesh', 'Pragati', 'AI', 'yash', 'Ravi', 'Riya']

In [67]:
#index()  It will return the index number of the string 
a=['Yogesh', 'Pragati','yash','Ravi','Riya']
a.index('Pragati')

1

In [68]:
# pop()
a = [1,2,3,4,5,6]
a.pop() # It will return the last value in the list i.e. 6.

6

In [70]:
# remove()
a = [1,2,3,4,5,6]
a.remove(6)
a

[1, 2, 3, 4, 5]

In [71]:
"""
[start:stop:step]
start is the index where you start. If it's omitted, Python assumes you want to start at the beginning.
stop is where you want to stop. If you omit it, Python assumes you want to go until the end.
step is what the -1 is taking advantage of. 1 is the default value. 2 iterates over every other element. -1 iterates over all of the elements, but backwards.
""""

SyntaxError: EOL while scanning string literal (426330034.py, line 6)

In [74]:
# reverse()
a = [1,2,3,4,5,6]

a.reverse()
a

# OR

a[::-1]

[1, 2, 3, 4, 5, 6]

In [75]:
a[::-1]

[1, 2, 3, 4, 5, 6]

In [78]:
#sort()  It will sort in assending order
a=[23,43,12,3,4,5,6,7,8]
a.sort()
a

[3, 4, 5, 6, 7, 8, 12, 23, 43]

In [81]:
#replacing
a=['grand','Reverse','Your','Mine','Just']
a[3]='You'
a

['grand', 'Reverse', 'Your', 'You', 'Just']

In [95]:
#Iterrating over list
a=['grand','Reverse','Your','Mine','Just']
for i in a:
    if x==2:
        break
print(i)

Just

TypeError: 'str' object does not support item assignment

In [101]:
list1= [2,3,4,5,6]
list1[::2]

[2, 4, 6]

In [105]:
A= [4,5,6,7,8,8]
B=A.copy()

In [153]:
chickens = float(input('Enter the number of chickens: '))
x = float(input('Enter your openion of eggs/cChicken:'))
Eggs = float( Chickens*x)
print('Eggs laid by chicken:',Eggs)

Eggs laid by chicken: 40.0

In [154]:
# Numbe of eggs each chicken will lay
eggs_each_chicken = float(Eggs/Chickens)
print('Each chicken will lay:',eggs_each_chicken )

Each chicken will lay: 2.0

In [155]:
presumed_eggs= float(eggs_each_chicken)*float(chickens)
print(presumed_eggs)
print('Total eggs all the chicken should lay:',presumed_eggs)
print('Actuall eggs laid by the chickens:',Eggs)
Extra_eggs =float(Eggs)-float(presumed_eggs)

4.0
Total eggs all the chicken should lay: 4.0
Actuall eggs laid by the chickens: 40.0

In [35]:
# Lets say I am having poulatry farm i need to maintain the eggs count in my farm
# for which i am writting the following code 

chickens = float(input('Enetr the total number of chickens:'))
eggs_per_chicken = float(input('Enter the capacity of chicken to lay the eggs:'))
Eggs = float(chickens*eggs_per_chicken)
print('Your todays collection of eggs are :',Eggs)
print('<-------------------------------------------------------------------->')
each_chickrn_egg = print('Each chicken had given:',float(Eggs/chickens))
print('<-------------------------------------------------------------------->')
presumed_eggs= float(eggs_per_chicken*chickens)
print('Total eggs all the chicken should lay:',presumed_eggs)
print('<-------------------------------------------------------------------->')
print('Total laid originally:',Eggs)
print('<-------------------------------------------------------------------->')
print('more_eggs:',Eggs-presumed_eggs)
print('<-------------------------------------------------------------------->')
print('')

Your todays collection of eggs are : 240.0
<-------------------------------------------------------------------->
Each chicken had given: 3.0
<-------------------------------------------------------------------->
Total eggs all the chicken should lay: 240.0
<-------------------------------------------------------------------->
Total laid originally: 240.0
<-------------------------------------------------------------------->
more_eggs: 0.0
<-------------------------------------------------------------------->

In [4]:
breadth = float(input('Enter length and bredth  :'))
length = float(input('Enter length and length :'))
area=float(length*breadth)
print('Area of field=',area)

Area of field= 4.0

In [5]:
a = 10
print(type(a))

<class 'int'>

In [12]:
b=float(a)
print(type(b))
c=3+4j
print(type(c))
d=abs(c)
print(type(d))
print(d)

<class 'float'>
<class 'complex'>
<class 'float'>
5.0

In [ ]:
# Anything written inside a single or double quotes called as string. 
# Single line or multiline strings are there
'My name is Yogesh' # Is single line string 
'''
My name is yogesh   # Multiline string 
i know python
'''

In [22]:
# Indexing and slicing on string 

str = 'Hello World '
str[3]   # I will return the third char. starting fron 0 called as indexing 

# Slicing formate  [start_index:stop_index:steps]

print(str[1:6]) # It will provide end_index-1 char from the string.

print(str[:3]) # It will give from starting to 3rd char 

print(str[:-3])

ello
Hel
Hello Wor

List Comprehension

In [1]:
a = [1,2,3,4]
a.append(7)

In [6]:
# Using comprehension 
a=[i for i in range(0,11)]

In [7]:
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
a = [i for i in range(10,21) if i%2==0]
print(a)

[10, 12, 14, 16, 18, 20]

In [17]:
a = [[10 for i in range(1,3)] for j in range(1,4)]
a

[[10, 10], [10, 10], [10, 10]]

In [4]:
a1 = [0 if i%2!=0 else i for i in range(10,20)]
a

[[['Yogesh', 'Yogesh', 'Yogesh']],
 [['Yogesh', 'Yogesh', 'Yogesh']],
 [['Yogesh', 'Yogesh', 'Yogesh']]]

In [1]:
# create 3d list using list comprehension 
a = [[['Yogesh' for i in range(1,4)] for j in range(1,2)] for k in range(1,4)]
a

[[['Yogesh', 'Yogesh', 'Yogesh']],
 [['Yogesh', 'Yogesh', 'Yogesh']],
 [['Yogesh', 'Yogesh', 'Yogesh']]]

In [3]:
list(enumerate(a))

[(0, [['Yogesh', 'Yogesh', 'Yogesh']]),
 (1, [['Yogesh', 'Yogesh', 'Yogesh']]),
 (2, [['Yogesh', 'Yogesh', 'Yogesh']])]

In [6]:
a = [1,2,3,4,5]

for i in a:
    
    print(a.index(i),i)

0 1
1 2
2 3
3 4
4 5

In [10]:
# instead of using above code i can use enumerate function 
list(enumerate(a))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)]

In [11]:
for i,j in enumerate(a):
    print(i,j)

0 1
1 2
2 3
3 4
4 5

ZIP function:
Its used to connect to list in the pairwise formate like below.

In [15]:
g = [1,2,3,4]
y= ['Yogesh','Deotale','Work','Hard']

r= list(zip(g,y))

In [16]:
r # its pairing the elements of two list

[(1, 'Yogesh'), (2, 'Deotale'), (3, 'Work'), (4, 'Hard')]

In [23]:
def ss(a):
  a.sort()
  return a[1]
print(ss([5, 2, 8, 3, 5, 6, 7]))

3

In [25]:
a = [5, 2, 8, 3, 5, 6, 7]
a.sort()

None

In [67]:
febb(5)

5
4
3
2
1
0

8

In [74]:
a = int(input())


for i in range(0,a):
    print(i**2)
    i+=1

0
1
4
9
16